@import "tailwindcss";

:root {
  --primary: #00E5FF;
  --secondary: #BB86FC;
  --tertiary: #03DAC6;
  --bg: #000000;
  --card: #111111;
  --card-border: #222222;
  --text: #E6E6E6;
  --text-muted: #9E9E9E;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
